*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url("https://images.unsplash.com/photo-1523878288860-7ad281611901?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fHBsYWluJTIwaW1hZ2V8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
}
.order{
    background-color: grey;
    height: 13vh;
}
.order-now{
    float: right;
    margin-right: 10%;
    padding: 2%;
}
.order-now :hover{
    background-color: rgba(80, 80, 80, 0.4);
    border-radius: 10px;
    padding: 5px;
}
.blue{
    color: white;
    text-align: center;
    padding: 2%;
}
.order a{
    color: white;
    text-decoration: none;
}

.slide{
    margin-top: 2%;
    width: 78%;
    height: 350px;
    margin-left: 10%;
    border-radius: 10px;
    animation: slide 20s infinite;
}

.slide img{
    padding: 3%;
    width: 100%;
    height: 500px;
    border-radius: 10px;
}


.my-form{
    background-color: rgba(80, 80, 80, 0.4);
    height: 120vh;
    width: 50%;
    margin: auto;
    margin-top: 8%;
    border-radius: 10px;
    padding-top: 5%;
    margin-bottom: 10%;
}
.order-text{
    margin-left: 20%;
    color: white;
}
.pizza-order select{
    background-color: white;
    width: 60%;
    height: 70px;
    border-radius: 5px;
    border: none;
    margin-bottom: 2%;
    margin-top: 5%;
    font-size: 1.5rem;
    color: grey;
    padding: 2%;
    
}
.pizza-order{
    margin-left: 20%;
   
}
.total-amount input{
    width: 60%;
    border-radius: 5px;
    border: none;
    margin-bottom: 2%;
    margin-top: 5%;
    font-size: 1.5rem;
    padding: 2%;
    text-align: center;
}
.total-amount{
    margin-left: 20%;
   
}

.delivery input{
    width: 60%;
    height: 70px;
    border-radius: 5px;
    border: none;
    margin-bottom: 2%;
    margin-top: 5%;
    font-size: 1.5rem;
    padding: 2%;
}
.delivery{
    margin-left: 20%;
   
}
.deliveryy{
    font-size: 2rem;
    color: white;
    font-weight: bold;
}

.number input{
    width: 60%;
    height: 70px;
    border-radius: 5px;
    border: none;
    margin-bottom: 2%;
    margin-top: 5%;
    font-size: 1.5rem;
    padding: 2%;
}

.submit{
    width: 15%;
    height: 70px;
    border-radius: 5px;
    border: none;
    margin-bottom: 2%;
    margin-top: 5%;
    font-size: 1.5rem;
    padding: 2%;
    margin-left: 20%;
    margin-right: 18%;
}

.reset{
    width: 15%;
    height: 70px;
    border-radius: 5px;
    border: none;
    margin-bottom: 2%;
    margin-top: 5%;
    font-size: 1.5rem;
    padding: 2%;
}

.contact{
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
    height: 300px;
}
.contact p{
    padding-top: 2%;
    font-size: 2rem;
    font-weight: bold;
}
.contact li{
    list-style: none;
    line-height: 1.5;
    font-size: 1.5rem;
    font-weight: bold;
}
.span{
    font-size: 1.2rem;
    font-weight: bold;
}