*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url("https://images.unsplash.com/photo-1523878288860-7ad281611901?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fHBsYWluJTIwaW1hZ2V8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
}
.order{
    background-color: grey;
    height: 13vh;
}
.order-now{
    float: right;
    margin-right: 10%;
    padding: 2%;
}
.order-now :hover{
    background-color: rgba(80, 80, 80, 0.4);
    border-radius: 10px;
    padding: 5px;
}
.blue{
    color: white;
    text-align: center;
    padding: 2%;
}
.order a{
    color: white;
    text-decoration: none;
}
.slide{
    margin-top: 2%;
    width: 78%;
    height: 350px;
    background-image: url("../img/toppings/pepperoni.jpg");
    margin-left: 10%;
    border-radius: 10px;
    animation: slide 20s infinite;
}

@keyframes slide{
    25%{
        background-image: url("../img/toppings/pepperoni.jpg");
    }
    50%{
        background-image: url("../img/toppings/supreme.jpeg");
    }
    75%{
        background-image: url("../img/toppings/hawaiian.jpg");
    }
    100%{
        background-image: url("../img/toppings/garlic.jpg");
    }
}
.list{
    list-style: none;
}